
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 700px;
        margin: 0 auto;
        padding-top: 5px;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

.nav-color {
    background-color: #3B668C;
}

.nav-text-color {
    color: #FFFFFF !important;
}

.nav-toggle-bg{
    background-color: #FFFFFF !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #F2EDD0;
}

.navbar-default {
    border-color: transparent;
}

.navbar {
    margin-bottom: 0px;
}

/* Palette colori
https://color.adobe.com/it/Tema-1-color-theme-4913317/edit/?copy=true&base=2&rule=Custom&selected=4&name=Copia%20di%20Tema%201&mode=rgb&rgbvalues=0.231373,0.4,0.54902,0.541176,0.670588,0.74902,0.129412,0.14902,0.14902,0.643137,0.65098,0.580392,0.94902,0.929412,0.815686&swatchOrder=0,1,2,3,4
*/

/*
-- INIZIO CSS PER HOMEPAGE --
*/

.home-img {
    width: 100%;
    height: 600px;
}

.home-img-sm {
    width: 100%;
    height: 400px;
}

.home-login {
    margin-top: 75px;
    text-align: center;
}

.group-center {
    text-align: center;
}

.text-center {
    text-align: center;
}